*{
	padding:0;
	margin:0;
	cursor: pointer
}
body,html{
  width: 100%;
  height: 100%;
  background-color: black;
  font-size:0.16rem;
}
.github{
	position: fixed;
	top:0.4rem;
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); 	/* IE 9 */
	-moz-transform:rotate(30deg); 	/* Firefox */
	-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
	-o-transform:rotate(30deg);
	width:1rem;
    right:0.4rem;
	height: 0.3rem;
	line-height: 0.3rem;
	font-style:0.16rem;
	background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, red , blue); /* 标准的语法 */
	text-align: center;
	opacity:0.6;
}
.github a{
	color:#fff;
}
.example{
	position: fixed;
	top:0.4rem;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); 	/* IE 9 */
	-moz-transform:rotate(-30deg); 	/* Firefox */
	-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
	-o-transform:rotate(-30deg);
	width:1rem;
    left:0.4rem;
	height: 0.3rem;
	line-height: 0.3rem;
	font-style:0.16rem;
	background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, red , blue); /* 标准的语法 */
	text-align: center;
	opacity:0.6;
}
.example a{
	color:#fff;
}
	.pro{
		width:3rem;
		height:0.10rem;
		border:0.05rem double #22393F;
		margin:0.10rem auto;
		/* margin:0 auto; */
		box-shadow:0rem 0.10rem 1rem #210E4E;
		/* box-shadow:0rem -0.10rem 1rem #210E4E; */

	}
	.progress{
		width:0rem;
		height:0.10rem;
		background-color:#7454F8;
	}
	.big{
		width: 4rem;
     	margin: 1rem auto;
     	background:lightblue;
     	text-align:center;
     	border:0.1rem groove blue;
     	padding:0.1rem;
     	box-shadow:0rem 0.1rem 2rem blue;
     	box-shadow:0rem -0.1rem 2rem blue;
	}
	ul li {
		font:400 0.14rem 微软雅黑;
		list-style-type: none;
		text-shadow:0rem 0.03rem 0.5rem black;
		text-shadow:0rem -0.03rem 0.5rem black;
		color: gray;
	}
	ul li:hover{
		background-color:blue;
		color: pink;
	}
	ul li div{
		float: right;
		display: none;
	}
	button{
		background:#04272F;
		color:#8CCDDC;
		padding:0.10rem;
		margin-bottom:0.05rem;
		font-size:0.14rem;
	}
	.font{
		color: white;
		width: 3rem;
		margin:0 auto;
		text-align: center;
		margin-top: -0.80rem;
		height:0.20rem;
	    overflow: hidden;
	   position: relative;

	}.font div{
		width: 3rem;
		position:absolute;
		 height:3rem;
	}
  .timer{
    width:1rem;
    margin: 0 auto;
    font:400 0.12rem 微软雅黑;
  }
  .upfile{
    width:1rem;
    overflow: hidden;
    position:relative;
    height:0.30rem;
    margin: 0.30rem auto;
    border:0.01rem solid blue;
    line-height:0.30rem;
    text-align: center;
    color:#fff;
    border-radius:0.02rem;
    font-size: 0.12rem;
  }
  .upfile:hover{
    box-shadow:0rem 0.02rem 0.03rem blue;
  }
  .upfile input{
    position: absolute;
    top:0rem;
    left:0rem;
    width: 1rem;
    height: 0.30rem;
    opacity:0;
  }
  pre{
    border:0.01rem solid red;
    color:#fff;
    height:3rem;
    overflow: auto;
  }
  .upfileProgress{
	  display: none;
	  text-align: center;
	  font-size:12px;
	  background:#7454F8;
	  color: #fff;
	  margin:0 auto;
	  width:0rem;
	  height:2vh;
	  border:1px solid blue;
  }
