#borrow from https://github.com/elastic/logstash/blob/master/.gitignore
.*.swp
/*.gem
logstash*/*.gem
pkg/*.deb
pkg/*.rpm
pkg/jvm.options
pkg/log4j2.properties
pkg/startup.options
*.class
.rbx
*.jar
.bundle
build
out
local
test/setup/elasticsearch/elasticsearch-*
vendor
.sass-cache
.buildpath
.project
*.pyc
etc/jira-output.conf
coverage/*
.VERSION.mk
.idea/*
spec/reports
rspec.xml
.install-done
.vendor
integration_run
.mvn/
qa/.vm_ssh_config
qa/.vagrant
qa/acceptance/.vagrant
qa/Gemfile.lock
Gemfile.lock
Gemfile
*.ipr
*.iws
*.iml
.idea
logs
.lock
qa/integration/services/installed/
.gradle
**/.settings
**/.classpath
logstash-core/bin
plugins_version_docs.json
tools/benchmark-cli/out/
qa/integration/fixtures/offline_wrapper/offline
qa/integration/fixtures/offline_wrapper/offline.o
logstash-core/versions-gem-copy.yml
logstash-core-plugin-api/versions-gem-copy.yml
config/logstash.keystore
html_docs

#borrow from https://github.com/expressjs/express/blob/master/.gitignore
# OS X
Icon?
._*
**/.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log

**/dump.rdb


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# our input
*.tar.gz
**/!input/*.tar.gz
**/*.xml
**/*.db
!doc/NLP/seg_tag.db
**/xml
**/.env.local

hanlp/data/
/dist/public/*
/dist/dbs/*
/src/test/*.json
release/
**/tmp

